*{
    margin: 0%;
    padding: 0%;
}
section {
    height: 600px;
    padding-bottom: 50px;
}
body {
    margin: 0%;
    font-family: Open Sans, sans-serif;
}

.header-area {
    background-image: url(images/header-bg.png);
}
section.header-area {
    padding-bottom: 15%;
}

.half-width {
    float: left;
    width: 40%;
    margin-left: 5%;
}

.half-width h1 {
    font-size: 32px;
}

.half-width img {
    height: 90%;
    width: 90%;
    padding-top: 10%;
    padding-left: 10%;
}
.header-content {
    padding-top: 30%;
    padding-left: 12%;
}
.header-content h1 {
    padding-bottom: 15px;
}
.header-content p {
    padding-bottom: 40px;
}
span.orange-.hlighted {
    color: orange;
    font-size: 50px;
}

a.button {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 25px;
    border-radius: 5px;
    background-image: linear-gradient(45deg, red, white);
    color: white;

}

p#biography {
    padding-left: 12%;
    padding-top: 20px;
    padding-bottom: 40px;
}
a#cv {
    margin-left: 12%;
}

h1#bio {
    padding-top: 42%;
    color: orange;
    text-transform: uppercase;
}

section.biography-area {
    background: url(images/biography-bg.png);
    height: 600px;
    padding-bottom: 30%;
}

section.lates-work {
    text-align: center;
    background: url(images/latest-work-bg.png);
    padding-bottom: 10%;
    padding-top: 3%;
}
section.lates-area h1 {
    text-transform: capitalize;
    padding-top: 5%;
    padding-bottom: 5%;
}

element.style {
}
section.lates-work img {
    width: 25%;
    height: auto;
    margin-left: 2%;
}
section.lates-work h1 {
    padding-top: 2%;
    padding-bottom: 4%;
    text-transform: capitalize;
    font-size: 32px;
}


section.footer-area {
    text-align: center;
    background: url(images/footer-bg.png);
    padding-top: 4%;
}

section.footer-area h1 {
    padding-bottom: 2%;
}
section.footer-area h3 {
    padding-bottom: 12px;
}
section.footer-area h5 {
    color: red;
    padding-bottom: 2%;
}
section.footer-area p {
    font-size: 25px;
    padding-bottom: 20px;
}
a {
    padding: 50px 60px 50px 60px;
    background: red;
    /* margin-top: 5%; */
    color: white;
    text-decoration: none;
}
.button-area h3, h2 {
    color: white;
    padding: 25px 60px 25px 60px;
}
.button-area {
    background: red;
    display: inline-block;
}

section.footer-area p {
    padding-bottom: 64px;
}
